<h1>Stupid Coaching<h1>
<h4 class="fs-6 bold">Ask your coach anything</h4>
<form action="answer" data-turbo="false">
  <input type="text" class= border name="question">
  <input type="submit" class="btn btn-primary" value="Ask!">
</form>
